<div class="event">
  <h1 class="event-headline"><%= @event.name %><small> von <%= @event.user_name%></small></h1>

  <div class="row">
    <div class="col s12">
      <ul class="tabs z-depth-1">
        <li class="tab col s3"><a href="#description">Beschreibung</a></li>
        <li class="tab col s3"><a href="#news">Neuigkeiten</a></li>
        <li class="tab col s3"><a href="#subscriptions">Anmelden</a></li>
      </ul>
    </div>

    <div id="description" class="col s12">
      <h2>Beschreibung</h2>

      <p class="event-description"><%= @event.description %></p>
    </div>

    <div id="news" class="col s12">
      <h2 class="event-subheadline">Aktuelles</h2>

      <ul class="collapsible popout" data-collapsible="accordion" style="transform: translateZ(0);">
        <% @event.messages.each do |msg|  %>
          <li>
            <div class="collapsible-header"><%= truncate(msg.content, :length => 30) %></div>
            <div class="collapsible-body"><p><%= msg.content %></p></div>
          </li>
        <% end %>
      </ul>
    </div>

    <div id="subscriptions" class="col s12">
      <% # TODO: move data fetching into controller or sth %>
      <%= react_component('SubscriptionForm', { subscribeUrl: subscription_add_url, subscribableType: 'Event', subscribableId: @event.id, subscriptions: @event.subscriptions.all.map(&:subscriber).map(&:email).uniq, text: 'Bitte geben Sie Ihre E-Mailadresse ein um sich an, beziehungsweise abzumelden für diese Veranstaltung.' }, {prerender: true}) %>
    </div>
  </div>
</div>
