<div class="event">
  <h1 class="event-headline"><%= @event.name %> von <%= @event.user_name%></h1>
  <p class="event-description"><%= @event.description %></p>

  <section>
    <h2 class="event-subheadline">An & Abmeldung</h2>
    <%= react_component('SubscriptionForm', {subscribableType: 'Event', subscribableId: @event.id}, {prerender: true}) %>
  </section>

  <section>
  <h2 class="event-subheadline">Aktuelles</h2>
  <ul>
    <% @event.messages.each do |msg|  %>
      <li><%= msg.content %></li>
    <% end %>
  </ul>
  </section>

</div>

