<h1><%= @user.name %></h1>


<div class="row">
  <div class="col s12">
    <ul class="tabs z-depth-1">
      <li class="tab col s3"><a href="#upcoming">Bevorstehende Veranstaltungen</a></li>
      <li class="tab col s3"><a href="#done">Bisherige Veranstalungen</a></li>
      <li class="tab col s3"><a href="#subscriptions">Nie wieder verpassen</a></li>
    </ul>
  </div>

  <div id="upcoming" class="col s12">
    <h2>Bevorstehende Veranstalungen</h2>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Beschreibung</th>
          <th>Datum</th>
          <th>Zeitraum</th>
        </tr>
      </thead>

      <tbody>
        <% @upcoming_events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= truncate(event.description) %></td>
            <td><%= event.start %></td>
            <td><%= event.duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="done" class="col s12">
    <h2>Bisherige Veranstalungen</h2>

    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Beschreibung</th>
          <th>Datum</th>
          <th>Zeitraum</th>
        </tr>
      </thead>

      <tbody>
        <% @finished_events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= truncate(event.description) %></td>
            <td><%= event.start %></td>
            <td><%= event.duration %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div id="subscriptions" class="col s12">
    <% # TODO: move data fetching into controller or sth %>
    <%= react_component('SubscriptionForm', { subscribeUrl: subscription_add_url, subscribableType: 'User', subscribableId: @user.id, subscriptions: @user.subscriptions.all.map(&:subscriber).map(&:email).uniq, text: 'Bitte geben Sie Ihre E-Mailadresse ein um nie wieder eine Veranstaltung dieser Person zu verpassen.' }, {prerender: true}) %>
  </div>
</div>
