<%= form_for(@event) do |f| %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, 'Name' %><br>
    <%= f.text_field :name, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :description, 'Beschreibung' %><br>
    <%= f.text_area :description, :class => "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :start, 'Tag' %><br>
    <%= f.datetime_select :start %>
  </div>
  <div class="form-group">
    <%= f.label :duration, 'Zeitraum' %><br>
    <%= f.text_field :duration, :class => "form-control" %>
  </div>
  <div class="actions">
    <%= submit_tag "Speichern", :class => "btn btn-primary" %>
  </div>
<% end %>
