<h1>Meine Workshops</h1>

<div class="fixed-action-btn">
  <%= link_to '+', new_event_path, class: 'btn-floating btn-large waves-effect waves-light red' %>
</div>

<ul class="collapsible" data-collapsible="accordion">
  <% @events.each do |event| %>
    <li>
      <div class="event-headline collapsible-header">
        <span><%= event.name %></span>
        <span class="badge"><%= event.start.strftime("%-d.%-m.%Y") %></span>
      </div>
      <div class="collapsible-body">
        <a class='event-action dropdown-button btn' href='#' data-activates='dropdown-<%= event.id %>'>Aktionen</a>
        <p><%= truncate(event.description) %></p><br>

        <!-- Dropdown Structure -->
        <ul id='dropdown-<%= event.id %>' class='dropdown-content'>
          <li><%= link_to 'Anzeigen', event_path(event) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Bearbeiten', edit_event_path(event) %></li>
          <li class="divider"></li>
          <li><%= link_to 'Löschen', event, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        </ul>
      </div>
    </li>
  <% end %>
</ul>
