<h1><%= @event.name %> von <%= @event.user_name%></h1>

<div class="row">
  <form accept-charset="UTF-8" method="POST" action="<%= subscription_notify_url %>">
    <input name="subscribable_id" type="hidden" value="<%= @event.id %>">
    <input name="subscribable_type" type="hidden" value="Event">

    <div class="form-group col-xs-9">
      <label for="message">Nachricht</label><br>
      <textarea id="message" name="message" placeholder="Bitte Nachricht eingeben (Diese wird nach dem Absenden an alle Teilnehmer verschickt)" class="form-control"></textarea>
      <div class="actions">
        <input type="submit" class="btn btn-primary" value="Absenden">
      </div>
    </div>
    <div class="col-xs-3">
      <ul>
        <% @event.messages.each do |message| %>
          <li><%= message.content %></li>
        <% end %>
      </ul>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-xs-9">
    <h3>Anmeldungen</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>E-Mailadresse</th>
        </tr>
      </thead>

      <tbody>
        <% if @event.subscriptions.any? %>
          <% @event.subscriptions.each do |subscription| %>
            <tr>
              <td><%= subscription.subscriber.email %></td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td>Leider gibt es bisher keine Anmeldungen</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-xs-3">
    <h3>Links</h3>
    <ul>
      <li>Anmelden: <%= link_to subscribe_event_url(@event), subscribe_event_url(@event)%></li>
      <li>Abmelden: <%= link_to unsubscribe_event_url(@event), unsubscribe_event_url(@event)%></li>
    </ul>
  </div>
</div>
