<!DOCTYPE html>
<html>
  <head>
    <title>WorkshopManager</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body ng-app="workshopManager">
    <nav>
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo">Workshop Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li><%= link_to 'Deine Seite', public_user_path(current_user.id), target: '_blank' %></li>
            <li><%= link_to 'Nachrichten', message_index_path %></li>
            <li><%= link_to 'Workshops', events_path %></li>
            <li><%= link_to 'Abmelden', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <% unless @hide_login %>
              <li><%= link_to 'Anmelden', new_user_session_path %></li>
              <li><%= link_to 'Registrieren', new_user_registration_path %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
