<!DOCTYPE html>
<html>
  <head>
    <title>Workshops</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <base href="/">
    <%= render 'shared/ga' unless @ga.blank? %>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.8/slick-theme.css"/>
  </head>
  <body ng-app="workshopManager">
    <nav>
      <div class="nav-wrapper">
        <a href="<%= root_path %>" class="brand-logo">Workshop Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <% if user_signed_in? %>
            <li data-intro="Diese Seite kannst du verteilen, hier finden Interessenten alle Informationen zu deinen Veranstaltungen. Zudem können sie dir hier folgen um auf dem Laufenden zu bleiben. Das bedeutet sie werden auch über E-Mail informiert wenn du etwas neues planst." data-step="2"><%= link_to 'Deine Seite', public_user_path(current_user.id), target: '_blank' %></li>
            <li data-intro="Des weiteren kannst du auch Nachrichten an alle deine Anhänger versenden." data-step="3"><%= link_to 'Nachrichten', message_index_path %></li>
            <li><%= link_to 'Veranstaltungen', events_path %></li>
            <li><%= link_to 'Abmelden', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <% unless @hide_login %>
              <li><%= link_to 'Anmelden', new_user_session_path %></li>
              <li><%= link_to 'Registrieren', new_user_registration_path %></li>
            <% end %>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  </body>
</html>
