<!DOCTYPE html>
<html>
  <head>
    <title>WorkshopManager</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <base href="/">
  </head>
  <body>
    <div class="container">
      <%= yield %>
    </div>

    <%= javascript_include_tag 'application' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <%= render 'shared/ga' unless @ga.blank? %>
  </body>
</html>
